ul {
  list-style: none;
}
.fieldset-group{
  max-height: 300px;
  overflow: auto;
}
.card-list.row-cols-2 {
  justify-content: space-between;
}
.card-list.row-cols-2 > .card {
  width: 49%;
}
.card-list.row-cols-2 .card-img-wrap,
.card-list.row-cols-2 .card-body-wrap {
  width: 100%;
}
.card-list.row-cols-2 .card-img {
  height: 250px;
}

.card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
/* .call-btn{
    background: rebeccapurple;
    color: #fff;
} */

.card-top {
  width: 50px;
  height: 30px;
  position: absolute;
  top: 20px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.info-block {
  cursor: default;
}
.info-block i {
  color: #db5c4c;
  margin-right: 10px;
}
.info-block {
  color: #414042;
  columns: 2;
  padding: 0;
}
.card-title {
  color: #256799;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.card-price {
  color: #3c9806;
  font-size: 22px;
}
.addition-info li {
  color: #414042;
}
.addition-info {
  padding-left: 0px;
}
.addition-info i {
  color: #db5c4c;
  margin-right: 10px;
}
.sort-select {
  font-size: 12px;
  font-weight: 700;
  color: #414042;
  box-sizing: border-box;
  border: 1px solid #414042;
  border-radius: 15px;
}

.info-block::after {
  content: attr(data-title);
}
.info-block:hover::after {
  content: attr(data-title);
}
.selection-buttons  i{
  font-size: 24px;
}
